@import url(https://fonts.googleapis.com/css?family=Raleway:400,600,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700);

body,
html {
    width: 100%;
    min-width: 1200px;
    margin: 0px;
    padding: 0px;
    
    font-size: 14px;
    font-family: "Raleway", "Arial", sans-serif;
    
    color: #6c7279;
    background: #ffffff url("../img/bg_top.jpg") center top repeat-x;
}
html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 375px;
}
ul {
    margin: 0;
    padding: 0;
    
    list-style-type: none;
}
input {
    outline: none;
}

header,
.promo-wrap,
.features-wrap,
.team-wrap,
.footer-block {
    width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}
header {
    position: relative;
    
    padding: 37px 15px;
}
header:after {
    position: absolute;
    left: 0;
    bottom: 0;
    
    display: block;
    width: 100%;
    height: 1px;
    
    background: #ffffff;
    opacity: 0.2;
    
    content: "";
}
header .logo {
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;    
}
header nav {
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 215px);
    
    text-align: right;   
}
header nav  a {
    display: inline-block;
    vertical-align: middle;
    margin: 0 20px; 

    font-size: 13px;
    font-weight: bold;
    
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;    
    opacity: 0.75;    
}
header nav a:last-child {
    margin-right: 0;
}
header nav a:hover {
    opacity: 1;    
}

.promo-wrap {
    position: relative;
    
    display: flex;
    height: 650px;
}
.promo-block {
    margin: auto;
    
    text-align: center;
}
.promo-block h1 {
    max-width: 900px;
    margin: 0 auto;
    
    font-size: 65px;
    line-height: 70px;
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: bold;
    
    color: #ffffff;
    text-transform: uppercase;    
}
.promo-block p {
    margin: 26px 120px;
    
    font-size: 22px;
    line-height: 32px;
    
    color: #ffffff;
}
.promo-block button{
    margin-top: 50px;
}
button {
    display: inline-block;
    padding: 15px 50px;
    
    font-size: 13px;
    font-weight: 600;
    
    color: #ffffff;
    background: #e84545;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 3px;
    border: 0;
    
    cursor: pointer;
}

.features-wrap {
    padding: 90px 15px 75px;
    
    text-align: center;
}
.features-block {
    display: inline-block;
    vertical-align: top;
    width: 26%;
    margin: 30px 3%;    
}
.features-block p {
    line-height: 21px;
}
.features-block h2 {
    font-size: 14px;
    line-height: 21px;
    font-weight: bold;
    
    color: #2d3033;
    text-transform: uppercase;
}
.features-block:before {
    display: inline-block;
    width: 79px;
    height: 60px;
    margin-bottom: 12px;    
    
    background: url("../img/features_icon.png") no-repeat;
    
    content: "";
}
.features-icon1:before {
    background-position: 0 0;
}
.features-icon2:before {
    background-position: 0 -60px;
}
.features-icon3:before {
    background-position: 0 -120px;
}
.features-icon4:before {
    background-position: 0 -180px;
}
.features-icon5:before {
    background-position: 0 -240px;
}
.features-icon6:before {
    background-position: 0 -300px;
}

.work-wrap {
    margin: 1px 0;
    
    font-size: 0;
    text-align: center;
}
.work-block {
    position: relative;
    
    display: inline-block;
    vertical-align: top;
    width: calc(25% - 2px);
    margin: 1px;
}
.work-block img {
    display: block;
    width: 100%;
}
.work-text-wrap {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
    display: flex;
    
    text-align: center;
    
    background: #e84545;
    opacity: 0;
    
     -webkit-transition: opacity 0.5s ease-out 0s;
     -moz-transition: opacity 0.5s ease-out 0s;
     -o-transition: opacity 0.5s ease-out 0s;
     transition: opacity 0.5s ease-out 0s;
}
.work-block:hover .work-text-wrap  {    
    opacity: 0.9;
}
.work-text-block {
    margin: auto;
}
.work-text-block .name {
    margin: 10px 0;
    
    font-size: 14px;
    font-weight: bold;
    
    color: #ffffff;
    text-transform: uppercase;
}
.work-text-block .description {
    margin: 10px 0;
    
    font-size: 14px;
    
    color: #ffffff;
}

.team-wrap {
    margin: 100px auto 0;
    
    font-size: 0;
}
.team-block {
    display: inline-block;
    vertical-align: top;
    width: 23%;
    margin: 0 1.2%;
}
.team-block:nth-child(1) {
    margin-left: 0;
}
.team-block:nth-child(4) {
    margin-right: 0;
}
.team-name {
    margin: 25px 0 10px;
    
    font-size: 22px;
    
    color: #2d3033;
}
.team-post {
    margin: 10px 0 20px;
    
    font-size: 13px;
    
    color: #e84545;
    text-transform: uppercase;
}
.team-description {
    margin: 20px 0 25px;
    
    font-size: 14px;
    line-height: 21px;
}
.team-block .share-block a {
    border: 1px solid #e8ecee;
}
.team-block .share-block a:hover {
    border: 1px solid #C6CACC;
}
.team-block .share-block .facebook {
    background-position: -36px 0;
}
.team-block .share-block .twitter {
    background-position: -36px -36px;
}
.team-block .share-block .linked-in-link {
    background-position: -36px -72px;
}

footer {
    position: absolute;
    bottom: 0;
    
    width: 100%;
    height: 345px;
    margin-top: -345px;
    
    background: #3a3e64;
}
.footer-wrap {
    display: flex;
    height: 250px;
    
    text-align: center;
}
.footer-block {
    margin: auto;
    
    font-size: 0;
}
.footer-column {
    display: inline-block;
    vertical-align: top;
    width: 30%;
    margin: 0 1.5%;
    
    font-size: 14px;
    
    color: #ffffff;
}
.footer-column .title {
    margin-bottom: 20px;
    
    font-weight: bold;
    
    text-transform: uppercase;
    opacity: 1;
}
.footer-column p {
    opacity: 0.5;
}
.footer-column:last-child p {
    line-height: 22px;
}
.share-block {
    font-size: 0;
}
.share-block li {
    display: inline-block;
    vertical-align: top;
    margin: 0 3px;
}
.share-block a {
    display: block;
    width: 36px;
    height: 36px;
    
    background: url("../img/share_icon.png") no-repeat;
    border: 2px solid #ffffff;
    border-radius: 1px;
    
     -webkit-transition: border 0.5s ease-out 0s;
     -moz-transition: border 0.5s ease-out 0s;
     -o-transition: border 0.5s ease-out 0s;
     transition: border 0.5s ease-out 0s;
}
.share-block a:hover {
    border: 2px solid #313454;
}
.share-block .facebook {
    background-position: 0 0;
}
.share-block .twitter {
    background-position: 0 -36px;
}
.share-block .linked-in-link {
    background-position: 0 -72px;
}

.copyright {
    padding: 25px 0;
    
    font-size: 14px;
    text-align: center;
    
    background: #313454;
    color: #808080;
}
.copyright p {
    margin: 6px 0;
}
.copyright i {
    font-style: normal;
    font-size: 16px;
    
    color: #e84545;
}
.copyright a {
    color: #ffffff;
    
    text-decoration: none;
}

/*-- download --*/
section.download *{
	box-sizing: border-box;
}

section.download{
	display: block;
}

a{
	text-decoration: none;
}

.section {
	padding: 100px 0;
}

.container {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.container:before{
	display: table;
	content: " ";
}

.container:after{
	display: table;
	content: " ";
	clear:both;
}

.text-center{
	text-align: center;
}

.col-md-8 {
	width: 50%;
	padding-right: 15px;
	padding-left: 15px;
	margin: 0 auto;
}

.download h3 {
	margin-top: 0;
	font-size: 28px;
	color: #2d3033;
	font-weight: 300;
	margin-bottom: 10px;
	font-family: inherit;
	line-height: 1.1;
}

.download p {
	color: #2d3033;
	font-weight: 600;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 22.4px;
	margin: 0 0 10px;
}

.download #btn {
	margin-top: 30px;
	padding: 15px 40px;
	background-color: #e84545;
	color: #fff;
	font-size: 13px;
	font-weight: 600;
	border: 0;
	border-radius: 2px;
	display: inline-block;
	text-transform: uppercase;
}